server:
    port: 8084
    api-prefix: api

spark:
    host: spark://localhost:7077 #host of master
    applicationName: spark-read-service #spark application name
    parquetFolderPath: './parquets'  #folder path to store parquet files 
    executorCores: 6 #number of Cores to be used from each executor (this defines the no of executors to be created based on total cores of the spark session
    memoryPerExecutor: 5000M #m for MByte, G for Gigabyte (1000m or 1g)
    sparkDriverMemory: 2000M #m for MByte, G for Gigabyte (1000m or 1g), default is 1000m
    coresPerSparkSession: 6 #number of Cores to be used from Spark from your total of your machine

database:
    jdbc:
        username: YOUR_USERNAME
        password: YOUR_PASSWORD
        url: jdbc:mysql://localhost:3306/YOUR_DB?useSSL=false&useLegacyDatetimeCode=false&serverTimezone=UTC&useUnicode=true&characterEncoding=utf-8
